@import url(stylenavbar.css);
@import url(stylefooter.css);
.localizacionwork::after{
    content: "";
    position:absolute;
    left:45%;
    bottom: 2px;
    width: 10%;
    height: 2px;
    background: #ff4701;
}
.banner{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 20px;
}
.trescolumnas{
    display: flex;
    width: 100%;
    color: rgb(51, 73, 65);
}
.columna1{
    width:30%;
    text-align: center;
    align-self: center;
}
.columna2{
    width:40%;
    text-align: center;
    align-self: center;
    padding-top: 35px;
}
.columna2 div{
    padding: 35px;
    text-align: justify;
    text-justify: auto;
}
.columna2 div ul li{
 list-style: inside;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
   }    
.image-container {
    position: relative;
    width: 50%;
    overflow: hidden;
    padding: 15px;
    margin-top: 2px;
}
 .gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
@media (max-width:900px){
    .trescolumnas{
        display:block;
    }
    .trescolumnas .columna2{
        width: 100%;
    }
    .trescolumnas .columna1{
        width: 100%;
    }
    .banner{
        padding-bottom: 50px;
    }
    
    
    .gallery{
        display:block;
    }
    .image-container{
        width: 100%;
    }
}
