@import url(stylenavbar.css);
@import url(stylefooter.css);
@import url(stylegallery.css);
section{
    background-image: url(../img/fondoaboutcontact.jpg);
    height: 60vh;
    padding-top: 20px;
    display: flex;
}
.columna1{
    width: 50%;
    text-align: end;
    align-self: center;
}
.columna1 img{
    height: 25vh;
    width: auto;
}
.columna2{
    width: 35%;
    padding:5%;
    align-self: center;
    background-color: white;
    justify-self: center;
    font-size: 1rem;
    border-color: #ff4701;
    border-left-style: solid;
    border-left-width: 2px;
}
p{
    color: rgb(51, 73, 65);
}
.aboutsubrayado{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 15px;
}
@media (max-width:700px){
    section{
        display: block;
        height:75vh
    }
    .columna1{
        width:100%;
        text-align: center;
    }
    .columna2{
        width: 100%;
        border-style: none;
    }
}
@media (max-width:375px){
    section{
        display: block;
        height:85vh
    }
}
/*Para el contacto*/
.contact{
    background-image: url(../img/fondoaboutcontact.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(51, 73, 65);
}
